body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:862px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:494px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:494px;
  font-size:18px;
  color:#666666;
}
#u625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:69px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:317px;
  height:69px;
}
#u626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
}
#u628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:11px;
  width:5px;
  height:6px;
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:5px;
  height:6px;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:11px;
  width:5px;
  height:6px;
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:11px;
  width:5px;
  height:6px;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:11px;
  width:5px;
  height:6px;
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:9px;
  width:23px;
  height:13px;
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:13px;
  width:15px;
  height:5px;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u638_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:5px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:13px;
  width:3px;
  height:5px;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:9px;
  width:53px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:10px;
  width:68px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u641_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:10px;
  width:68px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:40px;
  width:101px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u643_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:47px;
  width:29px;
  height:17px;
  color:#C9C9C9;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:47px;
  width:29px;
  height:17px;
  color:#C9C9C9;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u645_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:33px;
  background:inherit;
  background-color:rgba(148, 148, 148, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:117px;
  width:306px;
  height:33px;
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:121px;
  width:96px;
  height:25px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:94px;
  width:86px;
  height:25px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:74px;
  width:76px;
  height:15px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u649_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:149px;
  width:86px;
  height:25px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#BCBCBC;
}
#u649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:174px;
  width:76px;
  height:15px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#949494;
}
#u650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:200px;
  width:318px;
  height:1px;
}
#u651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:211px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u652_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:213px;
  width:8px;
  height:14px;
}
#u653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:211px;
  width:29px;
  height:17px;
  color:#CCCCCC;
}
#u654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:276px;
  width:318px;
  height:1px;
}
#u656_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:314px;
  width:318px;
  height:1px;
}
#u657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:249px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:287px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:314px;
  width:318px;
  height:1px;
}
#u661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:318px;
  height:1px;
}
#u662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:325px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:249px;
  width:29px;
  height:17px;
  color:#CCCCCC;
}
#u664_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:251px;
  width:8px;
  height:14px;
}
#u665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:287px;
  width:45px;
  height:17px;
  color:#CCCCCC;
}
#u666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:289px;
  width:8px;
  height:14px;
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:325px;
  width:15px;
  height:17px;
  color:#CCCCCC;
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:318px;
  height:1px;
}
#u670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:390px;
  width:318px;
  height:1px;
}
#u671_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:363px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u672_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:363px;
  width:32px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:363px;
  width:18px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:494px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:0px;
  width:318px;
  height:494px;
  font-size:18px;
  color:#666666;
}
#u678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:69px;
  background:inherit;
  background-color:rgba(67, 67, 67, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:1px;
  width:317px;
  height:69px;
}
#u679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:0px;
  width:318px;
  height:30px;
}
#u681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:11px;
  width:5px;
  height:6px;
}
#u683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:11px;
  width:5px;
  height:6px;
}
#u684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:565px;
  top:11px;
  width:5px;
  height:6px;
}
#u685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:11px;
  width:5px;
  height:6px;
}
#u686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:582px;
  top:11px;
  width:5px;
  height:6px;
}
#u687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:9px;
  width:23px;
  height:13px;
}
#u689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:13px;
  width:15px;
  height:5px;
}
#u690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:5px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:13px;
  width:3px;
  height:5px;
}
#u691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:9px;
  width:53px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:687px;
  top:10px;
  width:68px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:10px;
  width:68px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:40px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:45px;
  width:9px;
  height:15px;
}
#u696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:126px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:75px;
  width:300px;
  height:126px;
}
#u697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:106px;
  width:300px;
  height:1px;
}
#u698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:83px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:83px;
  width:43px;
  height:17px;
  color:#C9C9C9;
}
#u700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:85px;
  width:8px;
  height:14px;
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:137px;
  width:300px;
  height:1px;
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:114px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:122px;
  width:200px;
  height:1px;
  color:#FFFFFF;
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:776px;
  top:114px;
  width:17px;
  height:17px;
}
#u705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:116px;
  width:7px;
  height:12px;
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:116px;
  width:15px;
  height:13px;
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:168px;
  width:300px;
  height:1px;
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:145px;
  width:29px;
  height:17px;
  color:#FFFFFF;
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:816px;
  top:144px;
  width:32px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:144px;
  width:18px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:237px;
  width:318px;
  height:1px;
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:176px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#C9C9C9;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:176px;
  width:15px;
  height:17px;
  color:#C9C9C9;
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:14px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:178px;
  width:8px;
  height:14px;
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:221px;
  height:19px;
}
#u718p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:216px;
  height:6px;
}
#u718p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:6px;
}
#u718p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
}
#u718p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u718p002 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:-9px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u718p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:320px;
  top:221px;
  width:212px;
  height:1px;
}
#u718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
  background:inherit;
  background-color:rgba(0, 157, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:3.5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:217px;
  width:7px;
  height:7px;
}
#u719_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
