body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:925px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u939 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u940_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:494px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u940 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:26px;
  width:318px;
  height:494px;
  font-size:18px;
  color:#666666;
}
#u940_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:26px;
  width:318px;
  height:30px;
}
#u942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u944 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:37px;
  width:5px;
  height:6px;
}
#u944_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u945 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:37px;
  width:5px;
  height:6px;
}
#u945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u946 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:37px;
  width:5px;
  height:6px;
}
#u946_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u947 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:37px;
  width:5px;
  height:6px;
}
#u947_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u948 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:37px;
  width:5px;
  height:6px;
}
#u948_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u950_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u950 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:35px;
  width:23px;
  height:13px;
}
#u950_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:5px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951 {
  border-width:0px;
  position:absolute;
  left:321px;
  top:39px;
  width:15px;
  height:5px;
}
#u951_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:5px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-left:0px;
  border-radius:2px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:39px;
  width:3px;
  height:5px;
}
#u952_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u953 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:35px;
  width:53px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u953_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  word-wrap:break-word;
}
#u954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u954 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:36px;
  width:68px;
  height:14px;
  font-family:'Hel Regular', 'Hel';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u955 {
  border-width:0px;
  position:absolute;
  left:282px;
  top:36px;
  width:68px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u955_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#199ED8;
}
#u956 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:122px;
  width:156px;
  height:57px;
  -webkit-transform:rotate(6deg);
  -moz-transform:rotate(6deg);
  -ms-transform:rotate(6deg);
  transform:rotate(6deg);
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#199ED8;
}
#u956_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u957 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:429px;
  width:54px;
  height:54px;
}
#u957_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u958 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:444px;
  width:36px;
  height:22px;
  font-family:'Axure Handwriting';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:265px;
  width:1px;
  height:17px;
}
#u959_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萝莉体 常规', '萝莉体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#199ED8;
}
#u960 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:241px;
  width:125px;
  height:27px;
  -webkit-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  transform:rotate(7deg);
  font-family:'萝莉体 常规', '萝莉体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#199ED8;
}
#u960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'萝莉体 常规', '萝莉体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#199ED8;
}
#u961 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:193px;
  width:137px;
  height:27px;
  -webkit-transform:rotate(355deg);
  -moz-transform:rotate(355deg);
  -ms-transform:rotate(355deg);
  transform:rotate(355deg);
  font-family:'萝莉体 常规', '萝莉体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#199ED8;
}
#u961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  white-space:nowrap;
}
#u962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u962 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:253px;
  width:28px;
  height:29px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
}
#u962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u963 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:428px;
  width:54px;
  height:54px;
}
#u963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
}
#u964 {
  border-width:0px;
  position:absolute;
  left:266px;
  top:447px;
  width:27px;
  height:17px;
}
#u964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u965 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:489px;
  width:29px;
  height:17px;
  color:#FF0000;
}
#u965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u966 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:489px;
  width:57px;
  height:17px;
  color:#FFFFFF;
}
#u966_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:328px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u967 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:63px;
  width:540px;
  height:328px;
  font-family:'微軟正黑體';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  word-wrap:break-word;
}
